<%@ Master Language="C#" AutoEventWireup="true" CodeFile="parent1.master.cs" Inherits="Parent_parent1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
            border: 1px solid #000000;
        }
        .auto-style1 {
            width: 100%;
            
        }
        .auto-style5 {
            font-size: xx-large;
        }
        .auto-style8 {
            height: 49px;
        }
        .auto-style9 {
            text-decoration: none;
        }
        .auto-style10 {
            text-align: center;
        }
        .auto-style11 {
            text-align: center;
            height: 216px;
            margin-top: 36px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <table class="auto-style1" cellpadding="0" cellspacing="0" style="border: thin solid #C0C0C0; font-family: 'Microsoft YaHei'">
        <tr>
            <td>
                <table class="auto-style1">
                    <tr>
                        <td colspan="3">
                            <marquee scroll view="15" behavior="alternate" </marquee> Track. Book. Protect. Your childs vaccine journey starts here!&nbsp;</td>
                        <td>
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <asp:ImageButton ID="ImageButton2" runat="server" Height="73px" ImageUrl="~/Images/logoff.png" Width="84px" />
                        </td>
                        <td class="auto-style5" style="font-weight: 700; text-align: left">Child Vaccination&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </td>
                        <td>
                            <table style="border: thin solid #C0C0C0;border-radius:10px;" >
                                <tr>
                                    <td style="text-align: center" class="auto-style8">
                                        <asp:TextBox ID="txtsearch" runat="server" BorderStyle="None" BorderWidth="0px" Height="40px" Width="350px" placeholder="Enter City/Hospital/Vaccine " style="text-align: center" OnTextChanged="txtsearch_TextChanged"></asp:TextBox>
                                    </td>
                                    <td class="auto-style8">
                                        <asp:ImageButton ID="ImageButton4" runat="server" Height="45px" ImageAlign="Middle" ImageUrl="~/Images/search1.png" Width="45px" OnClick="ImageButton4_Click" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table cellpadding="3">
                                <tr>
                                    <td>
                                        <asp:ImageButton ID="ImageButton5" runat="server" Height="30px" ImageAlign="Middle" ImageUrl="~/Images/login.png" />
                                    </td>
                                    <td>
                                        <asp:Label ID="Label1" runat="server" Text="Welcome "></asp:Label>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="auto-style10">
                <asp:Menu ID="Menu2" runat="server" Height="30px" Orientation="Horizontal" RenderingMode="Table" Width="100%"  BackColor="#006699" ForeColor="White">
                    <Items>
                            <asp:MenuItem Text="Home" Value="Home" NavigateUrl="~/Parent/Home.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Edit Profile" Value="Edit Profile" NavigateUrl="~/Parent/EditProfile.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Add Child" Value="Add Child" NavigateUrl="~/Parent/Addchild.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Search Vaccine" Value="Search Vaccine" NavigateUrl="~/Parent/SearchCity.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Feedback" Value="Feedback" NavigateUrl="~/Parent/feedback.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="View Notification" Value="View Notification" NavigateUrl="~/Parent/ViewNotification.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Logout" Value="Logout" NavigateUrl="~/User/Home.aspx"></asp:MenuItem>
                        </Items>
                    </asp:Menu>

            </td>
        </tr>
        <tr>
            <td>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" class="auto-style1" cellpadding="20" style="background-color: #3C87C8; color: #FFFFFF">
                    <tr>
                        <td class="" style="background-color: #3C87C8;"><strong><span class="">Child Vaccination Website:</span><hr />
                            </strong><span class=""><br />
&nbsp;We are committed to safeguarding children&#39;s health through timely and reliable vaccination services.
                          
                            Our mission is to provide accessible, accurate, and up-to-date immunization support to parents and caregivers.
                          
                            Backed by certified healthcare professionals and government guidelines, we ensure every child gets the protection&nbsp;they&nbsp;deserve.</span></td>
                        <td class="" style="background-color: #3C87C8;"> </td>
                        <td  style="background-color: #3C87C8;">
                            <table align="center" cellpadding="5" cellspacing="1" class="" style="color: #FFFFFF">
                                <tr>
                                    <td class="">
                                        <div class="">
                                            <strong>Programs:</div>
                                        <hr />
                                        </strong></td>

                                </tr>
                                <tr>
                                    <td class="">
                                        <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/User/Home.aspx" ForeColor="White" CssClass="auto-style9">Home</asp:HyperLink>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="~/User/AboutVaccination.aspx" ForeColor="White" Width="250px" CssClass="auto-style9">About Vaccination</asp:HyperLink>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <asp:HyperLink ID="HyperLink4" runat="server" NavigateUrl="~/User/calender.aspx" ForeColor="White" CssClass="auto-style9">Vaccine  Schedule</asp:HyperLink>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <asp:HyperLink ID="HyperLink5" runat="server" NavigateUrl="~/User/SearchVaccine.aspx" ForeColor="White" CssClass="auto-style9">Vaccine Center</asp:HyperLink>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="background-color: #3C87C8;">
                            <table class="" cellpadding="5" cellspacing="1">
                                <tr>
                                    <td class="" style="color: #FFFFFF" >
                                        <div class="">
                                            <strong>Quick Links:</div>
                                        <hr />
                                        </strong></td>
                                </tr>
                                <tr>
                                    <td style="color: #FFFFFF" class="">
                                        <asp:HyperLink ID="HyperLink6" runat="server" NavigateUrl="~/User/Login.aspx" ForeColor="White" CssClass="auto-style9">Parent Login</asp:HyperLink>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: #FFFFFF" class="">
                                        <asp:HyperLink ID="HyperLink7" runat="server" NavigateUrl="~/Parent/feedback.aspx" ForeColor="White" CssClass="auto-style9">Feedback</asp:HyperLink>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="" style="color: #FFFFFF">
                                        <asp:HyperLink ID="HyperLink8" runat="server" NavigateUrl="~/User/Enquiry.aspx" ForeColor="White" CssClass="auto-style9">Enquiry</asp:HyperLink>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: #FFFFFF" class="">
                                        <asp:HyperLink ID="HyperLink9" runat="server" NavigateUrl="~/Parent/BookVaccine.aspx" ForeColor="White" Width="200px" CssClass="auto-style9">Appointment</asp:HyperLink>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.377676508856!2d74.47823749999999!3d16.707997000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc11ded0475eadb%3A0x79f3c5079c954ace!2sSharad%20Institute%20of%20Technology%20College%20of%20Engineering%2C%20Ichalkaranji%20(Kolhapur)!5e0!3m2!1sen!2sin!4v1751347100672!5m2!1sen!2sin" 
    style="border:0; border-radius:10px;" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="auto-style11"></iframe>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
